*~
_master.aux
_master.bbl
_master.blg
_master.idx
_master.ilg
_master.ind
_master.log
_master.toc
_master.pdf
sstic-actes.pdf
Makefile.standalone-targets
_articles.tex
*.ebook.tex
*.ebook.aux
*.ebook.bbl
*.ebook.blg
*.ebook.idx
*.ebook.ilg
*.ebook.ind
*.ebook.log
*.ebook.toc
*.ebook.css
*.ebook.dvi
*.ebook.html
*.ebook.epub
*.ebook.mobi
*.ebook.azw3
*.tmp.tex
*.tmp.aux
*.tmp.bbl
*.tmp.blg
*.tmp.idx
*.tmp.ilg
*.tmp.ind
*.tmp.log
*.tmp.toc
*.tmp.pdf
